@model IEnumerable<Dept_Labour_Immi.Models.OpearationOne>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table" id="operTB">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentCompleteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.angency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thaiCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOEID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.worktype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfMaleWorker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfFemaleWorker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNoOfWorker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Convert.ToDateTime(item.ApplyDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Convert.ToDateTime(item.DocumentCompleteDate).ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.angencyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThaiCompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOEName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.worktypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfMaleWorker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfFemaleWorker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalNoOfWorker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
           
        })
    </script>
}